      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      {{!-- <link rel="stylesheet" href="/swiper/swiper-bundle.min.css" type="text/css"> --}}
      <link rel="stylesheet" href="/lightbox2/lightbox.min.css" type="text/css">
      <link rel="stylesheet" href="/boxicons/boxicons.min.css" type="text/css">
      <link rel="stylesheet" href="/css/socialsBar.min.css" type="text/css">
      <link rel="stylesheet" href="/css/index.min.css" type="text/css">
      <link rel="stylesheet" href="/css/galery.min.css" type="text/css">
      <link rel="stylesheet" href="/css/footer.min.css" type="text/css">

   </head>

   <body>
      {{> loader}}

      {{> socialsBar}}
      {{> header}}

      <div class="containerGalery">
         <div class="heading">
            <h3>Galería de <span>Fotos</span></h3>
         </div>
         <div class="box">
            <div class="dream">
               <a href="img/galery/1.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/1.jpg" >
               </a>
               <a href="img/galery/2.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/2.jpg" >
               </a>
               <a href="img/galery/3.jpeg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/3.jpeg" >
               </a>
               <a href="img/galery/4.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/4.jpg" >
               </a>
               <a href="img/galery/5.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/5.jpg" >
               </a>
            </div>

            <div class="dream">
               <a href="img/galery/6.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/6.jpg" >
               </a>
               <a href="img/galery/7.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/7.jpg" >
               </a>
               <a href="img/galery/8.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/8.jpg" >
               </a>
               <a href="img/galery/9.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/9.jpg" >
               </a>
               <a href="img/galery/10.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/10.jpg" >
               </a>
            </div>
      
            <div class="dream">
               <a href="img/galery/11.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/11.jpg" >
               </a>
               <a href="img/galery/12.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/12.jpg" >
               </a>
               <a href="img/galery/13.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/13.jpg" >
               </a>
               <a href="img/galery/14.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/14.jpg" >
               </a>
               <a href="img/galery/15.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/15.jpg" >
               </a>
            </div>

            <div class="dream">
               <a href="img/galery/16.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/16.jpg" >
               </a>
               <a href="img/galery/17.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/17.jpg" >
               </a>
               <a href="img/galery/18.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/18.jpg" >
               </a>
               <a href="img/galery/19.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/19.jpg" >
               </a>
               <a href="img/galery/20.jpg" data-lightbox="roadtrip" data-title="">
                  <img src="img/galery/20.jpg" >
               </a>
            </div>
         </div>
      </div>

      {{> footer}}

      <script src="/js/jquery-3.5.1.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/lightbox2/lightbox.min.js"></script>
      <script src="/swiper/gsap.min.js"></script>
      <script src="/swiper/swiper-bundle.min.js"></script>
      <script src="/js/index.min.js"></script>

      <script>
         lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
         })
      </script>

      {{!-- {{> chatsBox}} --}}