      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/swiper/swiper-bundle.min.css" type="text/css">
      <link rel="stylesheet" href="/boxicons/boxicons.min.css" type="text/css">
      {{!-- <link rel="stylesheet" href="/css/chatsBox.min.css" type="text/css"> --}}
      <link rel="stylesheet" href="/css/socialsBar.min.css" type="text/css">
      <link rel="stylesheet" href="/css/index.min.css" type="text/css">
      <link rel="stylesheet" href="/css/footer.min.css" type="text/css">
      <link rel="stylesheet" href="/css/services.min.css" type="text/css">
      <link rel="stylesheet" href="/css/ofrendas.min.css" type="text/css">
      <link rel="stylesheet" href="/css/events.min.css" type="text/css">

   </head>

   <body>
      {{> loader}}

      {{> socialsBar}}
      {{> header}}

      <main class='main'>
         <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
               <section class="events swiper-slide">
                  <img src="img/slider/slider1.jpeg" alt="Slider1" class="events__bg">

                  <div class="events__container bd-container">
                     <div class="events__data">
                        <h1 class="events__title"></h1>
                        <p class="events__description">
                           Dios te salve, María. Llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre: Jesús. Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte.
                        </p>
                     </div>
                  </div>
               </section>

               <section class="events swiper-slide">
                  <img src="img/slider/slider2.jpeg" alt="Slider2" class="events__bg">

                  <div class="events__container bd-container">
                     <div class="events__data">
                        <h1 class="events__title"></h1>
                        <p class="events__description">
                           Foto exterior de nuestra Parroquia Santa María Madre de la Ciudadela La Fae
                        </p>
                     </div>
                  </div>
               </section>

               <section class="events swiper-slide">
                  <img src="img/slider/slider3.jpeg" alt="Slider3" class="events__bg">

                  <div class="events__container bd-container">
                     <div class="events__data">
                        <h1 class="events__title"></h1>
                        <p class="events__description">
                           Eucaristía en la Parroquia Santa María Madre de la Parroquia Parrales y Guale.
                        </p>
                     </div>
                  </div>
               </section>

               <section class="events swiper-slide">
                  <img src="img/slider/slider4.jpeg" alt="Slider4" class="events__bg">

                  <div class="events__container bd-container">
                     <div class="events__data">
                        <h1 class="events__title"></h1>
                        <p class="events__description">
                           Encuentro de formación cristiana de todos los grupos pastorales de nuestra parroquia Santa María Madre.
                        </p>
                     </div>
                  </div>
               </section>

               <section class="events swiper-slide">
                  <img src="img/slider/slider5.jpeg" alt="Slider5" class="events__bg">

                  <div class="events__container bd-container">
                     <div class="events__data">
                        <h1 class="events__title"></h1>
                        <p class="events__description">
                           Posesión oficial del nuevo Párroco, a cargo de Monseñor Eduardo Castillo hacia el Padre Ángel Toaquiza Yanchapaxi, en su nueva misión pastoral dentro de nuestra Parroquia Santa María Madre.
                        </p>
                     </div>
                  </div>
               </section>

               <section class="events swiper-slide">
                  <img src="img/slider/slider6.jpeg" alt="Slider6" class="events__bg">

                  <div class="events__container bd-container">
                     <div class="events__data">
                        <h1 class="events__title"></h1>
                        <p class="events__description">
                           Patios de la Parroquia Santa María Madre FAE, lugar donde se realizan diferentes encuentros con catequistas, jóvenes, padres de familias y toda la comunidad católica.
                        </p>
                     </div>
                  </div>
               </section>
            </div>
         </div>

         <!--========== CONTROLS ==========-->
         <div class="controls gallery-thumbs">
            <div class="controls__container swiper-wrapper">
               <img src="img/slider/slider1.jpeg" alt="Slider1" class="controls__img swiper-slide">
               <img src="img/slider/slider3.jpeg" alt="Slider2" class="controls__img swiper-slide">
               <img src="img/slider/slider2.jpeg" alt="Slider3" class="controls__img swiper-slide">
               <img src="img/slider/slider4.jpeg" alt="Slider4" class="controls__img swiper-slide">
               <img src="img/slider/slider5.jpeg" alt="Slider5" class="controls__img swiper-slide">
               <img src="img/slider/slider6.jpeg" alt="Slider6" class="controls__img swiper-slide">
            </div>
         </div>
      </main>

      {{#if listEvents}}
         <div class="container mt-4">
            <div class="row">
               <div class="col-md-12 tittleSEC">
                  <div class="section-title" style="margin-bottom: .25rem;">Eventos</div>
               </div>

               <div class="row mt-3">
                  {{#each listEvents}}
                     <div class="col-md-6">
                        <div class="alert alert-{{color}} alert-dismissible fade show" role="alert">
                           <div class="tittle__alert">
                              <strong>Evento #{{#counter @index}} {{/counter}}</strong>
                              <p class="subtittle__alert">{{timeDate fecha}}</p>
                           </div>
                           <p class="parrafo__alert">
                              {{descripcion}}
                           </p>
                        </div>
                     </div>
                  {{/each}}
               
               </div>
            </div>
         </div>
      {{/if}}

      {{> ofrendas}}
      {{> services}}

      {{> footer}}

      <script src="/js/jquery-3.5.1.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/swiper/gsap.min.js"></script>
      <script src="/swiper/swiper-bundle.min.js"></script>
      <script src="/js/index.min.js"></script>

      {{!-- {{> chatsBox}} --}}