      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/swiper/swiper-bundle.min.css" type="text/css">
      <link rel="stylesheet" href="/boxicons/boxicons.min.css" type="text/css">
      <link rel="stylesheet" href="/css/chatsBox.min.css" type="text/css">
      <link rel="stylesheet" href="/css/socialsBar.min.css" type="text/css">
      <link rel="stylesheet" href="/css/index.min.css" type="text/css">
      <link rel="stylesheet" href="/css/footer.min.css" type="text/css">
   </head>

   <body>
      {{> loader}}

      {{> socialsBar}}
      {{> header}}

      <main class='main'>
         <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
               <section class="events swiper-slide">
                  <img src="img/img/borabora.jpg" alt="" class="events__bg">

                  <div class="events__container bd-container">
                     <div class="events__data">
                        <h1 class="events__title">Bora Bora</h1>
                        <p class="events__description">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quam dolore reprehenderit perferendis laboriosam eius, exercitationem vero numquam sit necessitatibus ad autem? Quae eveniet non assumenda nulla magni autem aliquid?
                        </p>
                     </div>
                  </div>
               </section>

               <section class="events swiper-slide">
                  <img src="img/img/bali.jpg" alt="" class="events__bg">

                  <div class="events__container bd-container">
                     <div class="events__data">
                        <h1 class="events__title">Bora Bora</h1>
                        <p class="events__description">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quam dolore reprehenderit perferendis laboriosam eius, exercitationem vero numquam sit necessitatibus ad autem? Quae eveniet non assumenda nulla magni autem aliquid?
                        </p>
                     </div>
                  </div>
               </section>
               
               <section class="events swiper-slide">
                  <img src="img/img/palawan.jpg" alt="" class="events__bg">

                  <div class="events__container bd-container">
                     <div class="events__data">
                        <h1 class="events__title">Bora Bora</h1>
                        <p class="events__description">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quam dolore reprehenderit perferendis laboriosam eius, exercitationem vero numquam sit necessitatibus ad autem? Quae eveniet non assumenda nulla magni autem aliquid?
                        </p>
                     </div>
                  </div>
               </section>
               
            </div>
         </div>

         <!--========== CONTROLS ==========-->
         <div class="controls gallery-thumbs">
            <div class="controls__container swiper-wrapper">
               <img src="img/img/borabora.jpg" alt="" class="controls__img swiper-slide">
               <img src="img/img/bali.jpg" alt="" class="controls__img swiper-slide">
               <img src="img/img/palawan.jpg" alt="" class="controls__img swiper-slide">
            </div>
         </div>
      </main>

      <div class="container">
         <h5>Hola Mundo!!!</h5>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloremque dolor, quas voluptatum ipsa aliquam doloribus. Similique deserunt voluptas voluptates accusantium nobis odio rerum, enim, saepe neque, ad eligendi iusto.
            Ducimus nam voluptate sapiente fugiat voluptas animi cumque, facere impedit temporibus possimus incidunt dolore veniam totam quasi quaerat numquam praesentium, ratione aut fugit nobis delectus soluta error! Praesentium, reprehenderit aut.
            Velit odit a nemo magni quidem illum cum voluptatibus veritatis, totam temporibus animi voluptate dignissimos fugiat mollitia perspiciatis cumque architecto obcaecati. Eaque dolor sapiente sed illo placeat cupiditate sint impedit?
            Unde eius ex laborum architecto minus libero officiis, dolorem tenetur voluptates recusandae iusto, et nemo doloremque. Sint quibusdam labore, quo, nulla corporis blanditiis soluta sit necessitatibus nisi quos doloribus delectus?
            A quae vero soluta explicabo, non debitis natus. Ratione sint doloremque ipsum, deleniti aliquid quasi cupiditate voluptatibus! Atque placeat nemo id fugit temporibus sed ea incidunt velit modi quod. Corporis.
         </p>
      </div>

      {{> footer}}

      <script src="/js/jquery-3.5.1.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/swiper/gsap.min.js"></script>
      <script src="/swiper/swiper-bundle.min.js"></script>
      <script src="/js/index.min.js"></script>

      {{> chatsBox}}