      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" type="text/css">
      <link rel="stylesheet" href="/css/login.min.css" type="text/css">
      
   </head>

	<body>
      {{> loader}}

      <div class="l-form">
         <div class="shape1"></div>
         <div class="shape2"></div>

         <div class="form">
            <img src="/img/login.svg" alt="" class="form__img">

            <form action="" class="form__content">
               <h1 class="form__title">Bienvenido</h1> <hr>

               <div class="form__div form__div-one">
                  <div class="form__icon">
                     <i class="far fa-user-circle"></i>
                  </div>

                  <div class="form__div-input">
                     <label for="" class="form__label">Cédula</label>
                     <input type="text" class="form__input">
                  </div>
               </div>

               <div class="form__div">
                  <div class="form__icon">
                     <i class="fas fa-key"></i>
                  </div>

                  <div class="form__div-input">
                     <label for="" class="form__label">Contraseña</label>
                     <input type="password" class="form__input" autocomplete="on">
                  </div>
               </div>
               <a href="#" class="form__forgot">Recuperar Contraseña!</a>

               <input type="submit" class="form__button" value="Iniciar Sesión">

               <div class="form__social">
                  <span class="form__social-text">Nuestras redes:</span>
                  <a href="#" class="form__social-icon">
                     <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="#" class="form__social-icon">
                     <i class="fab fa-whatsapp"></i>
                  </a>
                  <a href="#" class="form__social-icon">
                     <i class="fas fa-at"></i>
                  </a>
               </div>
            </form>
         </div>
      </div>

      {{!-- <br><br> --}}

      <script src="/js/jquery-3.5.1.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/sweetalert2/sweetalert2.min.js"></script>
      <script src="/fontawesome/js/all.min.js"></script>
      <script src="/js/login.min.js"></script>
      {{!-- <script src="/js/validation.js"></script> --}}