
{{#each errors}}
   <div class="alert alert-{{info}} alert-dismissible fade show" role="alert">
      <strong>{{title}}</strong>
      <p style="text-align: left; font-size: 0.8em; color: #333;">{{text}}</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
{{/each}}