<footer>

   <div class="container__footer">
      <div class="box__footer">
         <div class="logo">
            <img src="img/SMMIglesia.png" alt="Logo de la Iglesia">
            <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam obcaecati aspernatur perferendis labore! Alias omnis voluptatem, optio porro officiis molestiae, veniam totam voluptatibus rem a, corporis minus facilis quis ducimus.
               Voluptatibus perferendis praesentium ipsa vero aliquid nostrum iste molestias, exercitationem quasi! Reiciendis iste sit totam eaque numquam.
            </p>
         </div>
      </div>
      <div class="box__footer">
         <h2>Soluciones</h2>
         <a href="https://www.google.com">App Desarrollo</a>
         <a href="#">App Marketing</a>
         <a href="#">IOS Desarrollo</a>
         <a href="#">Android Desarrollo</a>
      </div>

      <div class="box__footer">
         <h2>Compañia</h2>
         <a href="#">Acerca de</a>
         <a href="#">Trabajos</a>
         <a href="#">Procesos</a>
         <a href="#">Servicios</a>
      </div>

      <div class="box__footer">
         <h2>Redes Sociales</h2>
         <a href="#" class="facebookF">
            <img src="img/facebook.svg" alt="" srcset="">
            Facebook
         </a>
         
         <a href="#" class="whatsappF">
            <img src="img/whatsapp.svg" alt="" srcset="">
            WhatsApp
         </a>

         <a href="#" class="youtubeF">
            <img src="img/youtube.svg" alt="" srcset="">
            YouTube
         </a>

         <a href="#" class="twitterF">
            <img src="img/twitter.svg" alt="" srcset="">
            Twitter
         </a>
      </div>

   </div>

   <div class="box__copyright">
      <hr>
      <p>
         Todos los derechos reservados © 2021 
         <br><b>InnovaTech'S</b>
      </p>
   </div>
</footer>