<footer>

   <div class="container__footer">
      <div class="box__footer">
         <div class="logo">
            <img src="img/SMMIglesia.png" alt="Logo de la Iglesia">
            <p>
               La misión de la Iglesia y nuestra propia misión se fundamentan en la comunión y participación de la Verdad, el Amor y la Vida de Dios Padre, Hijo y Espíritu Santo. Recibimos nuestra misión en la Iglesia, la cumplimos en comunión y participación de Iglesia y desde ella vamos como enviados a evangelizar.
            </p>
         </div>
      </div>
      <div class="box__footer">
         <h2>Atención en oficina</h2>
         <a>Martes a Sábado <br> 
            &nbsp; &nbsp; 08:00 AM a 12:00 PM
         </a>
      </div>

      <div class="box__footer">
         <h2>Horarios de Eucaristías</h2>
         <a>Lunes - Miércoles - Viernes <br> 
            &nbsp; &nbsp; 19:30 PM <b>FAE</b> 
         </a>

         <a>Martes – Jueves - Sábado <br> 
            &nbsp; &nbsp; 19:30 PM <b>PARRALES Y GUALE</b> 
         </a>

         <a>Domingo <br> 
            &nbsp; &nbsp; 09:00 AM & 19:00 PM <b>FAE</b> <br>
            &nbsp; &nbsp; 10:00 AM <b>PARRALES Y GUALE</b> 
         </a>
      </div>

      <div class="box__footer">
         <h2>Redes Sociales</h2>
         <a href="https://www.facebook.com/Parroquia.Elesiastica.Santa.Maria.Madre.Jipijapa" target="_blank" class="facebookF">
            <img src="img/facebook.svg" alt="Facebook" >
            Facebook
         </a>
         
         <a href="https://api.whatsapp.com/send?phone=593997955011" target="_blank" class="whatsappF">
            <img src="img/whatsapp.svg" alt="WhatsApp" >
            WhatsApp
         </a>

         <a href="https://www.youtube.com/channel/UC6eyYG6galMlfstShr0VyRQ" target="_blank" class="youtubeF">
            <img src="img/youtube.svg" alt="YouTube" >
            YouTube
         </a>

         {{!-- <a href="#" class="twitterF">
            <img src="img/twitter.svg" alt="" srcset="">
            Twitter
         </a> --}}
      </div>

   </div>

   <div class="box__copyright">
      <hr>
      <p>
         Todos los derechos reservados © 2021 
         <br><b>InnovaTech'S</b>
      </p>
   </div>
</footer>