<header class="header">
   <nav class="nav bd-container">
         <a href="/" class="nav__logo">
            <img src="img/SMMIglesia.png" alt="" srcset="">
            SMM Iglesia
         </a>
         
         <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
               <li class="nav__item">
                  <a href="/history" class="nav__link">Historia</a>
               </li>
               
               <li class="nav__item">
                  <a href="/galery" class="nav__link">Galería</a>
               </li>
               
               <li class="nav__item">
                  <a href="/contacts" class="nav__link">Contáctanos</a>
               </li>
               
               <li class="nav__item">
                  <a href="#" class="nav__link">Ofrendas e intenciones</a>
               </li>
               
            </ul>
         </div>
         
         <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
         </div>
   </nav>
</header>