<section class="decoration section bd-container" id="decoration">
   <h2 class="section-title">Servicios</h2>
   <div class="decoration__container bd-grid">
      <div class="decoration__data">
         <img src="img/services/eucaristia.png" alt="" class="decoration__img">
         <h3 class="decoration__title">Eucaristía</h3>
      </div>

      <div class="decoration__data">
         <img src="img/services/catequesis.png" alt="" class="decoration__img">
         <h3 class="decoration__title">Catequesis</h3>
      </div>

      <div class="decoration__data">
         <img src="img/services/teamPas.png" alt="" class="decoration__img">
         <h3 class="decoration__title">Grupos Pastorales</h3>
      </div>

      <div class="decoration__data">
         <img src="img/services/bautizo.png" alt="" class="decoration__img">
         <h3 class="decoration__title">Bautizo</h3>
      </div>

      <div class="decoration__data">
         <img src="img/services/confesion.png" alt="" class="decoration__img">
         <h3 class="decoration__title">Confesión</h3>
      </div>

      <div class="decoration__data">
         <img src="img/services/comunion.png" alt="" class="decoration__img">
         <h3 class="decoration__title">Comunión</h3>
      </div>

      <div class="decoration__data">
         <img src="img/services/confirmacion.png" alt="" class="decoration__img">
         <h3 class="decoration__title">Confirmación</h3>
      </div>

      <div class="decoration__data">
         <img src="img/services/matrimonio.png" alt="" class="decoration__img">
         <h3 class="decoration__title">Matrimonio</h3>
      </div>
   </div>
</section>