<div class="social-bar">
   <a href="https://www.facebook.com/Parroquia.Elesiastica.Santa.Maria.Madre.Jipijapa" target="_blank" class="icon icon-facebook" >
      <img src="img/facebook.svg" alt="Social Icons" >
   </a>
   <a href="https://api.whatsapp.com/send?phone=593997955011" target="_blank" class="icon icon-whatsapp" >
      <img src="img/whatsapp.svg" alt="Social Icons" >
   </a>
   <a href="https://www.youtube.com/channel/UC6eyYG6galMlfstShr0VyRQ" target="_blank" class="icon icon-youtube" >
      <img src="img/youtube.svg" alt="Social Icons" >
   </a>
   {{!-- <a href="/" class="icon icon-twitter" >
      <img src="img/twitter.svg" alt="Social Icons" >
   </a> --}}
</div>