<div class="social-bar">
   <a href="/" class="icon icon-facebook" >
      <img src="img/facebook.svg" alt="Social Icons" >
   </a>
   <a href="/" class="icon icon-whatsapp" >
      <img src="img/whatsapp.svg" alt="Social Icons" >
   </a>
   <a href="/" class="icon icon-youtube" >
      <img src="img/youtube.svg" alt="Social Icons" >
   </a>
   <a href="/" class="icon icon-twitter" >
      <img src="img/twitter.svg" alt="Social Icons" >
   </a>
</div>