      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" type="text/css">
      <link rel="stylesheet" href="/boxicons/boxicons.min.css" type="text/css">
      <link rel="stylesheet" href="/css/navSecretaria.min.css" type="text/css">
      <link rel="stylesheet" href="/css/servicesSec.min.css" type="text/css">

      <link rel="stylesheet" href="/dataTables/theme/bulma.min.css" type="text/css"/>
      <link rel="stylesheet" href="/dataTables/theme/dataTables.bulma.min.css" type="text/css"/>
      <link rel="stylesheet" href="/dataTables/theme/responsive.bulma.min.css" type="text/css"/>
      <link rel="stylesheet" href="/dataTables/dataTablesUI.min.css" type="text/css"/>

      <link rel="stylesheet" href="/css/ofrendasSec.min.css" type="text/css">
      <link rel="stylesheet" href="/css/register.min.css" type="text/css">

      <style>
         .swal2-radio {
            font-size: .9rem;
         }

         .swal2-actions {
            margin-top: .25rem;
         }

         .modal {
            z-index: 1041;
         }
      </style>
      
   </head>

	<body>
      {{> loader}}
      {{> navBarS}}

      <div class="container p-30">
         <div class="row">
            <div class="col-md-12 tittleSEC">
               <div class="service__title">Bautizos</div>
            </div>
         </div>

         <div class="row">
            <div class="col-md-6 mx-auto">
               {{> alerts}}
               {{> errors}}
            </div>
         </div>

         <div class="row">
            <div class="col-md-3">
               <button class="btn__Add" onclick="modalNewBautizo()"><i class='bx bx-add-to-queue bx-tada' ></i> Añadir</button>
            </div>
         </div>

         <div class="row tableUI">
            <div class="col-md-12">
               <table id="listBautizos" class="table is-striped table-striped table-bordered tableList">
                  <thead>
                     <tr>
                        <th scope="col">Cédula</th>
                        <th nowrap scope="col">Nombres Completos</th>
                        <th nowrap scope="col">Sacerdote</th>
                        <th scope="col">Fecha Bautizo</th>
                        <th scope="col">Año</th>
                        <th scope="col">N° Tomo</th>
                        {{!-- <th scope="col">N° Página</th>
                        <th scope="col">N° Registro</th> --}}
                        {{!-- <th scope="col">Teléfono</th> --}}
                        <th scope="col"></th>
                     </tr>
                  </thead>
               </table>
            </div>
         </div>
      </div>

      {{!-- <br><br> --}}

      <script src="/js/jquery-3.5.1.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/sweetalert2/sweetalert2.min.js"></script>
      <script src="/fontawesome/js/all.min.js"></script>
      <script src="/js/navSecretaria.min.js"></script>
      <script src="/js/validation.min.js"></script>

      <script src="/dataTables/jquery.dataTables.min.js"></script>
      <script src="/dataTables/theme/dataTables.bulma.min.js"></script>
      <script src="/dataTables/dataTables.responsive.min.js"></script>
      <script src="/dataTables/theme/responsive.bulma.min.js"></script>

      {{!-- Modal Register New Bautizo --}}
      <div class="modal fade" id="modalNewBautizo" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
               <div class="modal-header header__modal">
                  <h5 class="modal-title tittle__modal" id="staticBackdropLabel">
                     Registrar Bautizo
                  </h5>
               </div>

               <div class="modal-body body__modal">
                  <div class="row">
                     <div class="col-md-12 justify-content-center">
                        <h5 class="tittle__description">
                           Datos Básicos
                        </h5>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-6">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bx-credit-card-front bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Cédula</label>
                              <input type="text" class="form__input" name="cedula" id="cedula" onkeypress="return numeros(event)" maxlength="10" onkeyUp="return Cedula(this);" required>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-6">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bx-been-here bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Fecha de Bautizo</label>
                              <input type="date" class="form__input" name="dateBautizo" id="dateBautizo" required>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-6">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bx-user-circle bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Apellidos</label>
                              <input type="text" class="form__input" name="apellidos" id="apellidos" onkeypress="return letra(event)" required>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-6">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bx-user-circle bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Nombres</label>
                              <input type="text" class="form__input" name="nombres" id="nombres" onkeypress="return letra(event)" required>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-6">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bx-been-here bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Lugar de nacimiento</label>
                              <input type="text" class="form__input" name="homeNacimiento" id="homeNacimiento" required>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-6">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bx-been-here bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Fecha de nacimiento</label>
                              <input type="date" class="form__input" name="dateNacimiento" id="dateNacimiento" onkeypress="return letra(event)" required>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-12">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bxs-group bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Nombres completos del padre</label>
                              <input type="text" class="form__input" name="nameFather" id="nameFather" onkeypress="return letra(event)" required>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-12">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bxs-group bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Nombres completos de la madre</label>
                              <input type="text" class="form__input" name="nameMother" id="nameMother" onkeypress="return letra(event)" required>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-12">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bxs-group bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Nombres completos del padrino</label>
                              <input type="text" class="form__input" name="namePadrino" id="namePadrino" onkeypress="return letra(event)" required>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-12">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bxs-group bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Nombres completos de la madrina</label>
                              <input type="text" class="form__input" name="nameMadrina" id="nameMadrina" onkeypress="return letra(event)" required>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-12">
                        <div class="form__div form__div-one" style="margin-bottom: 1rem;">
                           <div class="form__icon">
                              <i class='bx bxs-group bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Nombres del sacerdote</label>
                              <input type="text" class="form__input" name="nameSacerdote" id="nameSacerdote" onkeypress="return letra(event)" required>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-12 justify-content-center">
                        <h5 class="tittle__description" id="staticBackdropLabel">
                           Datos Parroquiales
                        </h5>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-4">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bx-calendar bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Año</label>
                              <input type="text" class="form__input" name="anioParroquia" id="anioParroquia" maxlength="4" onkeypress="return numeros(event)" required>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-4">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bx-notepad bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Tomo</label>
                              <input type="text" class="form__input" name="tomoParroquia" id="tomoParroquia" onkeypress="return numeros(event)" required>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-4">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bx-book-open bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Página</label>
                              <input type="text" class="form__input" name="pageParroquia" id="pageParroquia" onkeypress="return numeros(event)" required>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-4">
                        <div class="form__div form__div-one" style="margin-bottom: 1rem;">
                           <div class="form__icon">
                              <i class='bx bx-hash bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Número</label>
                              <input type="text" class="form__input" name="numeroParroquia" id="numeroParroquia" onkeypress="return numeros(event)" required>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-12 justify-content-center">
                        <h5 class="tittle__description" id="staticBackdropLabel">
                           Datos Registro Civil
                        </h5>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-4">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bx-building-house bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Ciudad</label>
                              <input type="text" class="form__input" name="ciudadRCivil" id="ciudadRCivil" onkeypress="return letra(event)" required>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-4">
                        <div class="form__div form__div-one" style="margin-bottom: 1rem;">
                           <div class="form__icon">
                              <i class='bx bx-hash bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Número</label>
                              <input type="text" class="form__input" name="numeroRCivil" id="numeroRCivil" onkeypress="return numeros(event)" required>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-4">
                        <div class="form__div form__div-one">
                           <div class="form__icon">
                              <i class='bx bx-notepad bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Tomo</label>
                              <input type="text" class="form__input" name="tomoRCivil" id="tomoRCivil" onkeypress="return numeros(event)" required>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-4">
                        <div class="form__div form__div-one" style="margin-bottom: .5rem;">
                           <div class="form__icon">
                              <i class='bx bx-book-open bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Página</label>
                              <input type="text" class="form__input" name="pageRCivil" id="pageRCivil" onkeypress="return numeros(event)" required>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-5">
                        <div class="form__div form__div-one" style="margin-bottom: .5rem;">
                           <div class="form__icon">
                              <i class='bx bx-hash bx-tada' ></i>
                           </div>
      
                           <div class="form__div-input">
                              <label for="" class="form__label">Número de acta</label>
                              <input type="text" class="form__input" name="numActaRCivil" id="numActaRCivil" onkeypress="return numeros(event)" required>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="modal-footer footer__modal">
                  <button type="button" class="btn__Close" data-dismiss="modal">Cerrar</button>

                  {{!-- <button type="button" class="btn__Send">Enviar</button> --}}
               </div>
            </div>
         </div>
      </div>

      <script src="/js/login.min.js"></script>

      <script>
         const modalNewBautizo = () => {
            bloqueointerface();
            $("#cedula").prop('disabled', false);
            $(".form__div-one").removeClass("focus");
            $("button").remove('.btn__Send');

            document.querySelector('.tittle__modal').innerHTML = 'Registrar Bautizo';
            document.querySelector('.footer__modal').innerHTML += '<button type="button" class="btn__Send" onclick="saveBautizo()">Enviar</button>';
            
            $('#cedula').val('');
            $('#dateBautizo').val('');
            $('#apellidos').val('');
            $('#nombres').val('');
            $('#homeNacimiento').val('');
            $('#dateNacimiento').val('');
            $('#nameFather').val('');
            $('#nameMother').val('');
            $('#namePadrino').val('');
            $('#nameMadrina').val('');
            $('#nameSacerdote').val('');
            $('#anioParroquia').val('');
            $('#tomoParroquia').val('');
            $('#pageParroquia').val('');
            $('#numeroParroquia').val('');
            $('#ciudadRCivil').val('');
            $('#numeroRCivil').val('');
            $('#tomoRCivil').val('');
            $('#pageRCivil').val('');
            $('#numActaRCivil').val('');
            
            $('#modalNewBautizo').modal('show');
            desbloqueointerface();
         }

         $(document).ready(function() {
            listBautizo = $('#listBautizos').DataTable({
               destroy: true,
               "ajax": {
                  "url": '/s/getBautizos',
                  "dataSrc":""
               },
               "columns": [
                  {"data": "cedula"},
                  {"data": null,
                        render: function ( data, type, row ) {
                           return row.apellidos + ' ' + row.nombres;
                        }
                  },
                  {"data": null,
                        render: function ( data, type, row ) {
                           return row.nameSacerdote;
                        }
                  },
                  {"data": "fechaBautizo"},
                  {"data": "anioRParroquial"},
                  {"data": "tomoRParroquial"},
                  {"data": null,
                        render: function ( data, type, row ) {
                           return `<button type="button" class="btnPoint btn btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"> <i class="fas fa-ellipsis-v" style="margin-right: 5px;"></i> </button> 
                           <div class="dropdown-menu 1 menuD"> 
                              <a class="dropdown-item" onclick="editBautizo('${row.cedula}', '${row.apellidos}', '${row.nombres}')"> 
                                 <i class='bx bx-edit-alt' ></i>
                                 Editar 
                              </a> 
                              {{!-- <a class="dropdown-item" onclick="deleteBautizo('${row.cedula}', '${row.apellidos}', '${row.nombres}')"> 
                                 <i class='bx bx-trash' ></i> 
                                 Eliminar 
                              </a> --}}
                              <form id="urlReportPDF" method="GET" action="downloadPDFBautizo/${row.cedula}">
                                 <a class="dropdown-item" onclick="reportPDF()"> 
                                    <i class='bx bxs-file-pdf' ></i>
                                    Generar Acta 
                                 </a>
                              </form>`;
                        }
                  },
               ],
               responsive: true,
               language: idioma,
            });
         });

         var idioma = {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
               "sFirst":    "Primero",
               "sLast":     "Último",
               "sNext":     "Siguiente",
               "sPrevious": "Anterior"
            },
            "oAria": {
               "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
               "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
               "copy": "Copiar",
               "colvis": "Visibilidad"

            }
         }

         const saveBautizo = () => {
            cedula = $.trim($('#cedula').val());
            dateBautizo = $.trim($('#dateBautizo').val());
            apellidos = $.trim($('#apellidos').val());
            nombres = $.trim($('#nombres').val());
            homeNacimiento = $.trim($('#homeNacimiento').val());
            dateNacimiento = $.trim($('#dateNacimiento').val());
            nameFather = $.trim($('#nameFather').val());
            nameMother = $.trim($('#nameMother').val());
            namePadrino = $.trim($('#namePadrino').val());
            nameMadrina = $.trim($('#nameMadrina').val());
            nameSacerdote = $.trim($('#nameSacerdote').val());
            anioParroquia = $.trim($('#anioParroquia').val());
            tomoParroquia = $.trim($('#tomoParroquia').val());
            pageParroquia = $.trim($('#pageParroquia').val());
            numeroParroquia = $.trim($('#numeroParroquia').val());
            ciudadRCivil = $.trim($('#ciudadRCivil').val());
            numeroRCivil = $.trim($('#numeroRCivil').val());
            tomoRCivil = $.trim($('#tomoRCivil').val());
            pageRCivil = $.trim($('#pageRCivil').val());
            numActaRCivil = $.trim($('#numActaRCivil').val());

            if (
               cedula === '' || 
               dateBautizo === '' || 
               apellidos === '' || 
               nombres === '' || 
               homeNacimiento === '' || 
               dateNacimiento === '' || 
               nameFather === '' || 
               nameMother === '' || 
               namePadrino === '' || 
               nameMadrina === '' || 
               nameSacerdote === '' || 
               anioParroquia === '' || 
               tomoParroquia === '' || 
               pageParroquia === '' || 
               numeroParroquia === '' || 
               ciudadRCivil === '' || 
               numeroRCivil === '' || 
               tomoRCivil === '' || 
               pageRCivil === '' || 
               numActaRCivil === ''
            ) {
               Swal.fire({
                  position: 'top-end',
                  imageUrl: '/img/SMMIglesia.png',
                  imageWidth: 80,
                  imageHeight: 100,
                  imageAlt: 'SMM Iglesia',
                  title: 'CAMPOS VACÍOS',
                  html: `<p style="font-size: 1rem;">Los campos no pueden ir vacíos o con espacios.</p>`,
                  showConfirmButton: false,
                  timer: 1500,
                  allowOutsideClick: false
               })
            } else {
               Swal.fire({
                  title: `GUARDAR REGISTRO DE BAUTIZO`,
                  html: `<p style="font-size: 1rem;">¿Deseas guardar el registro de bautizo?</p>`,
                  imageUrl: '/img/SMMIglesia.png',
                  imageWidth: 80,
                  imageHeight: 100,
                  imageAlt: 'SMM Iglesia',
                  showCancelButton: true,
                  confirmButtonColor: '#049947',
                  cancelButtonColor: '#f34943',
                  confirmButtonText: 'Sí, guardar!',
                  cancelButtonText: 'No, cancelar!',
                  reverseButtons: true,
                  focusConfirm: false,
                  focusCancel: true,
                  allowOutsideClick: false
               }).then((result) => {
                  if (result.value == true) {
                     bloqueointerface();

                     $.ajax({
                        url: `/s/saveBautizo`,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                           cedula,
                           dateBautizo,
                           apellidos,
                           nombres,
                           homeNacimiento,
                           dateNacimiento,
                           nameFather,
                           nameMother,
                           namePadrino,
                           nameMadrina,
                           nameSacerdote,
                           anioParroquia,
                           tomoParroquia,
                           pageParroquia,
                           numeroParroquia,
                           ciudadRCivil,
                           numeroRCivil,
                           tomoRCivil,
                           pageRCivil,
                           numActaRCivil
                        }
                     })
                     .done(function(res) {
                        desbloqueointerface();
                        
                        if (res.res === 'img') {
                           Swal.fire({
                              title: res.tittle,
                              html: `<p style="font-size: 1rem;">${res.description}</p>`,
                              imageUrl: res.icon,
                              imageWidth: 100,
                              imageHeight: 100,
                              imageAlt: 'SMM Iglesia',
                              allowOutsideClick: false
                           }).then((result) => {
                              if (result.value == true) {
                                 $("#modalNewBautizo").modal('hide');
                                 listBautizo.ajax.reload(null, false);
                              }
                           })
                        }

                        if (res.res === 'icon') {
                           Swal.fire({
                              title: res.tittle,
                              html: `<p style="font-size: 1rem;">${res.description}</p>`,
                              icon: res.icon,
                              allowOutsideClick: false
                           })
                        }
                     })
                     .fail(function() {
                        desbloqueointerface();
                        console.log("Error");
                     });
                  }
               })
            }
         }

         const editBautizo = (cedula, name, apell) => {
            $("button").remove('.btn__Send');

            document.querySelector('.tittle__modal').innerHTML = 'Actualizar Acta de Bautizo';
            
            $('#cedula').val('');
            $('#dateBautizo').val('');
            $('#apellidos').val('');
            $('#nombres').val('');
            $('#homeNacimiento').val('');
            $('#dateNacimiento').val('');
            $('#nameFather').val('');
            $('#nameMother').val('');
            $('#namePadrino').val('');
            $('#nameMadrina').val('');
            $('#nameSacerdote').val('');
            $('#anioParroquia').val('');
            $('#tomoParroquia').val('');
            $('#pageParroquia').val('');
            $('#numeroParroquia').val('');
            $('#ciudadRCivil').val('');
            $('#numeroRCivil').val('');
            $('#tomoRCivil').val('');
            $('#pageRCivil').val('');
            $('#numActaRCivil').val('');

            Swal.fire({
               title: `EDITAR ACTA DE BAUTIZO`,
               html: `<p style="font-size: 1rem;">¿Deseas editar la acta de bautizo de <b>${apell} ${name}</b> con cédula <b>${cedula}</b>?</p>`,
               imageUrl: '/img/SMMIglesia.png',
               imageWidth: 80,
               imageHeight: 100,
               imageAlt: 'SMM Iglesia',
               showCancelButton: true,
               confirmButtonColor: '#049947',
               cancelButtonColor: '#f34943',
               confirmButtonText: 'Sí, editar!',
               cancelButtonText: 'No, cancelar!',
               reverseButtons: true,
               focusConfirm: false,
               focusCancel: true,
               allowOutsideClick: false
            }).then((result) => {
               if (result.value == true) {
                  bloqueointerface();

                  $.ajax({
                     url: `/s/searchBautizo`,
                     type: 'GET',
                     dataType: 'json',
                     data: {
                        cedula
                     }
                  })
                  .done(function(res) {
                     if (res.res === 'data') {
                        $('#cedula').val(`${res.searchData.cedula}`);
                        $('#dateBautizo').val(`${res.searchData.fechaBautizo}`);
                        $('#apellidos').val(`${res.searchData.apellidos}`);
                        $('#nombres').val(`${res.searchData.nombres}`);
                        $('#homeNacimiento').val(`${res.searchData.lugarNacimiento}`);
                        $('#dateNacimiento').val(`${res.searchData.fechaNacimiento}`);
                        $('#nameFather').val(`${res.searchData.namePadre}`);
                        $('#nameMother').val(`${res.searchData.nameMadre}`);
                        $('#namePadrino').val(`${res.searchData.namePadrino}`);
                        $('#nameMadrina').val(`${res.searchData.nameMadrina}`);
                        $('#nameSacerdote').val(`${res.searchData.nameSacerdote}`);
                        $('#anioParroquia').val(`${res.searchData.anioRParroquial}`);
                        $('#tomoParroquia').val(`${res.searchData.tomoRParroquial}`);
                        $('#pageParroquia').val(`${res.searchData.paginaRParroquial}`);
                        $('#numeroParroquia').val(`${res.searchData.numeroRParroquial}`);
                        $('#ciudadRCivil').val(`${res.searchData.ciudadRCivil}`);
                        $('#numeroRCivil').val(`${res.searchData.numeroRCivil}`);
                        $('#tomoRCivil').val(`${res.searchData.tomoRCivil}`);
                        $('#pageRCivil').val(`${res.searchData.paginaRCivil}`);
                        $('#numActaRCivil').val(`${res.searchData.numeroActaRCivil}`);

                        document.querySelector('.footer__modal').innerHTML += `<button type="button" class="btn__Send" onclick="updateBautizo('${res.searchData.cedula}')">Actualizar</button>`;

                        $(".form__div-one").addClass("focus");
                        $("#cedula").prop('disabled', true);
                        $('#modalNewBautizo').modal('show');
                        desbloqueointerface();
                     }

                     if (res.res === 'notData') {
                        desbloqueointerface();

                        Swal.fire({
                           title: res.tittle,
                           html: `<p style="font-size: 1rem;">${res.description}</p>`,
                           icon: res.icon,
                           allowOutsideClick: false
                        })
                     }
                  })
                  .fail(function() {
                     desbloqueointerface();
                     console.log("Error");
                  });
               }
            })
         }

         const updateBautizo = (cedula) => {
            cedula = $.trim(cedula);
            dateBautizo = $.trim($('#dateBautizo').val());
            apellidos = $.trim($('#apellidos').val());
            nombres = $.trim($('#nombres').val());
            homeNacimiento = $.trim($('#homeNacimiento').val());
            dateNacimiento = $.trim($('#dateNacimiento').val());
            nameFather = $.trim($('#nameFather').val());
            nameMother = $.trim($('#nameMother').val());
            namePadrino = $.trim($('#namePadrino').val());
            nameMadrina = $.trim($('#nameMadrina').val());
            nameSacerdote = $.trim($('#nameSacerdote').val());
            anioParroquia = $.trim($('#anioParroquia').val());
            tomoParroquia = $.trim($('#tomoParroquia').val());
            pageParroquia = $.trim($('#pageParroquia').val());
            numeroParroquia = $.trim($('#numeroParroquia').val());
            ciudadRCivil = $.trim($('#ciudadRCivil').val());
            numeroRCivil = $.trim($('#numeroRCivil').val());
            tomoRCivil = $.trim($('#tomoRCivil').val());
            pageRCivil = $.trim($('#pageRCivil').val());
            numActaRCivil = $.trim($('#numActaRCivil').val());

            if (
               cedula === '' || 
               dateBautizo === '' || 
               apellidos === '' || 
               nombres === '' || 
               homeNacimiento === '' || 
               dateNacimiento === '' || 
               nameFather === '' || 
               nameMother === '' || 
               namePadrino === '' || 
               nameMadrina === '' || 
               nameSacerdote === '' || 
               anioParroquia === '' || 
               tomoParroquia === '' || 
               pageParroquia === '' || 
               numeroParroquia === '' || 
               ciudadRCivil === '' || 
               numeroRCivil === '' || 
               tomoRCivil === '' || 
               pageRCivil === '' || 
               numActaRCivil === ''
            ) {
               Swal.fire({
                  position: 'top-end',
                  imageUrl: '/img/SMMIglesia.png',
                  imageWidth: 80,
                  imageHeight: 100,
                  imageAlt: 'SMM Iglesia',
                  title: 'CAMPOS VACÍOS',
                  html: `<p style="font-size: 1rem;">Los campos no pueden ir vacíos o con espacios.</p>`,
                  showConfirmButton: false,
                  timer: 1500,
                  allowOutsideClick: false
               })
            } else {
               Swal.fire({
                  title: `GUARDAR REGISTRO DE BAUTIZO`,
                  html: `<p style="font-size: 1rem;">¿Deseas guardar el registro de bautizo?</p>`,
                  imageUrl: '/img/SMMIglesia.png',
                  imageWidth: 80,
                  imageHeight: 100,
                  imageAlt: 'SMM Iglesia',
                  showCancelButton: true,
                  confirmButtonColor: '#049947',
                  cancelButtonColor: '#f34943',
                  confirmButtonText: 'Sí, guardar!',
                  cancelButtonText: 'No, cancelar!',
                  reverseButtons: true,
                  focusConfirm: false,
                  focusCancel: true,
                  allowOutsideClick: false
               }).then((result) => {
                  if (result.value == true) {
                     bloqueointerface();

                     $.ajax({
                        url: `/s/updateBautizo`,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                           cedula,
                           dateBautizo,
                           apellidos,
                           nombres,
                           homeNacimiento,
                           dateNacimiento,
                           nameFather,
                           nameMother,
                           namePadrino,
                           nameMadrina,
                           nameSacerdote,
                           anioParroquia,
                           tomoParroquia,
                           pageParroquia,
                           numeroParroquia,
                           ciudadRCivil,
                           numeroRCivil,
                           tomoRCivil,
                           pageRCivil,
                           numActaRCivil
                        }
                     })
                     .done(function(res) {
                        desbloqueointerface();
                        
                        if (res.res === 'img') {
                           Swal.fire({
                              title: res.tittle,
                              html: `<p style="font-size: 1rem;">${res.description}</p>`,
                              imageUrl: res.icon,
                              imageWidth: 100,
                              imageHeight: 100,
                              imageAlt: 'SMM Iglesia',
                              allowOutsideClick: false
                           }).then((result) => {
                              if (result.value == true) {
                                 $("#modalNewBautizo").modal('hide');
                                 listBautizo.ajax.reload(null, false);
                              }
                           })
                        }

                        if (res.res === 'icon') {
                           Swal.fire({
                              title: res.tittle,
                              html: `<p style="font-size: 1rem;">${res.description}</p>`,
                              icon: res.icon,
                              allowOutsideClick: false
                           })
                        }
                     })
                     .fail(function() {
                        desbloqueointerface();
                        console.log("Error");
                     });
                  }
               })
            }
         }

         const reportPDF = () => {
            bloqueointerface();
            $("#urlReportPDF").submit();

            setTimeout(() => {
               desbloqueointerface();
            }, 3000);
         }
         
      </script>

      {{!-- <script>
         const deleteBautizo = (cedula, name, apell) => {
            cedula = $.trim(cedula);

            if (
               cedula === ''
            ) {
               Swal.fire({
                  position: 'top-end',
                  imageUrl: '/img/SMMIglesia.png',
                  imageWidth: 80,
                  imageHeight: 100,
                  imageAlt: 'SMM Iglesia',
                  title: 'CAMPOS VACÍOS',
                  html: `<p style="font-size: 1rem;">Los campos no pueden ir vacíos o con espacios.</p>`,
                  showConfirmButton: false,
                  timer: 1500,
                  allowOutsideClick: false
               })
            } else {
               Swal.fire({
                  title: `ELIMINAR ACTA DE BAUTIZO`,
                  html: `<p style="font-size: 1rem;">¿Deseas eliminar el registro de bautizo de <b>${apell} ${name}</b> con cédula <b>${cedula}</b>?</p>`,
                  imageUrl: '/img/SMMIglesia.png',
                  imageWidth: 80,
                  imageHeight: 100,
                  imageAlt: 'SMM Iglesia',
                  showCancelButton: true,
                  confirmButtonColor: '#049947',
                  cancelButtonColor: '#f34943',
                  confirmButtonText: 'Sí, eliminar!',
                  cancelButtonText: 'No, cancelar!',
                  reverseButtons: true,
                  focusConfirm: false,
                  focusCancel: true,
                  allowOutsideClick: false
               }).then((result) => {
                  if (result.value == true) {
                     $.ajax({
                        url: `/s/deleteBautizo`,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                           cedula
                        }
                     })
                     .done(function(res) {
                        desbloqueointerface();
                        
                        if (res.res === 'img') {
                           Swal.fire({
                              title: res.tittle,
                              html: `<p style="font-size: 1rem;">${res.description}</p>`,
                              imageUrl: res.icon,
                              imageWidth: 100,
                              imageHeight: 100,
                              imageAlt: 'SMM Iglesia',
                              allowOutsideClick: false
                           }).then((result) => {
                              if (result.value == true) {
                                 $("#modalNewBautizo").modal('hide');
                                 listBautizo.ajax.reload(null, false);
                              }
                           })
                        }

                        if (res.res === 'icon') {
                           Swal.fire({
                              title: res.tittle,
                              html: `<p style="font-size: 1rem;">${res.description}</p>`,
                              icon: res.icon,
                              allowOutsideClick: false
                           })
                        }
                     })
                     .fail(function() {
                        desbloqueointerface();
                        console.log("Error");
                     });
                  }
               })
            }
         }
      </script> --}}