<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Santa Mería Madre</title>
      <link rel="shortcut icon" href="/img/SSMIglesia.ico" type="image/x-icon">

      <style>
         .alert {
            text-align: left;
         }

         .alert p {
            margin-bottom: 0 !important;
         }

         .alert .close {
            outline: none;
         }
      </style>

      <link rel="stylesheet" href="/css/coloresTonos.min.css" type="text/css">
      <link rel="stylesheet" href="/css/scrollDesing.min.css" type="text/css">

      <link rel="stylesheet" href="/css/loader.min.css" type="text/css">

      {{{body}}}

      <script src="/js/loader.min.js"></script>
   </body>
</html>