<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="theme-color" content="#7a9ef8b3"/>
      <title>Santa María Madre</title>
      <link rel="shortcut icon" href="/img/SMMIglesia.ico" type="image/x-icon">

      <style>
         .alert {
            text-align: left;
         }

         .alert p {
            margin-bottom: 0 !important;
         }

         .alert .close {
            outline: none;
         }
      </style>

      <link rel="stylesheet" href="/css/coloresTonos.min.css" type="text/css">
      <link rel="stylesheet" href="/css/scrollDesing.min.css" type="text/css">

      <link rel="stylesheet" href="/css/loader.min.css" type="text/css">

      {{{body}}}

      <script src="/blockUI/jquery.blockUI.js"></script>
      <script>
         bloqueointerface = function(){
            $.blockUI({
               message: `<div class="loader-wrapperSend">
                           <div class="loading">
                              {{!-- <span>Cargando...</span> --}}
                           </div>
                        </div>`,
               css: {
                  'z-index': '1200',
                  'position': 'inherit'
               }
            });
         };

         desbloqueointerface = function(){
            $.unblockUI();
         };
      </script>

      <script src="/js/loader.min.js"></script>
   </body>
</html>